.wheels-configurator {
  padding: 20px;

  &__title {
    font-size: 20px;
    color: #262626;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__wrapper {
    margin-top: 20px;
    padding: 20px;
    background-color: #f6f6f6;
  }

  &__wheels-list {
    display: flex;
    gap: 24px;
    margin-top: 16px;
  }

  &__list-button {
    background: transparent;
    cursor: pointer;
  }

  &__wheel-image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  &__selected-info {
    margin-top: 20px;
  }

  &__wheel-title {
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__wheel-price {
    margin-top: 10px;
    font-size: 14px;
    color: #262626;
    font-weight: 400;
  }
}
