@import "../../cssTools/mixins.scss";

.purchase-programs {
  padding: 26px 0;

  @include onDesktop {
    padding: 40px 0;
  }

  &__title {
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    @include onTablet {
      font-size: 16px;
    }

    @include onDesktop {
      font-size: 20px;
    }
  }

  &__subtitle {
    margin-top: 8px;
    text-align: center;
    color: rgb(38, 38, 38);
    font-size: 32px;
    font-weight: 300;

    @include onDesktop {
      font-size: 40px;
      margin-top: 20px;
    }
  }

  &__programs {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__program {
    width: 100%;

    @include onDesktop {
      width: auto;
    }
  }

  &__program-image {
    max-width: 100%;
    width: 100%;

    @include onDesktop {
      height: 100%;
      max-height: 100%;
    }
  }

  &__program-title {
    font-weight: 300;
    font-size: 16px;
    color: rgb(38, 38, 38);
    text-align: center;
  }
}
