@import "../../cssTools/utils.scss";

.catalog-filters {
  padding-top: 50px;

  &__title {
    font-size: 32px;
    color: $extra-dark;
    font-weight: 600;
  }

  &__subtitle {
    margin-top: 24px;
    font-size: 20px;
    color: $extra-dark;
    font-weight: 300;
  }

  &__buttons {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  &__cross {
    display: block;
    width: 15px;
    height: 1.5px;
    background-color: $dark-gray;
    position: relative;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $dark-gray;
      left: 50%;
      top: -7px;
      width: 2px;
      height: 15px;
      transform: translateX(-50%);
      transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }

    &--active {
      transform: rotate(45deg);
      background-color: $light-white;

      &::before {
        background-color: $light-white;
      }
    }
  }

  &__button {
    display: block;
    background: transparent;
    box-shadow: inset 0 0 0 1px $medium-gray;
    color: $dark-gray;
    font-weight: 700;
    padding-inline: 16px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 1px $extra-dark;
      color: $extra-dark;
    }

    &--active {
      background-color: $medium-dark;
      color: $light-white;

      &:hover {
        background-color: $extra-dark;
        color: $light-white;
        box-shadow: none;
      }
    }
  }

  &__models-count {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
  }

  &__series {
    margin-top: 20px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: #ffffffbf;
    border-bottom: 0.0625rem solid $light-gray;
    position: sticky;
    z-index: 3;
    height: 65px;
    top: 0;
  }

  &__series-button {
    background: transparent;
  }

  &__series-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 16px;
    height: 64px;
    transition: color 0.2s ease-in-out;
    position: relative;
    color: $dark-gray;
    font-weight: 600;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: transparent;
      position: absolute;
      bottom: 0;
    }

    &:hover {
      color: $extra-dark;

      &::before {
        background-color: $medium-dark;
      }
    }

    &--active {
      color: $extra-dark;

      &::before {
        background-color: $medium-dark;
      }
    }

  }

  &__input-wrapper {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    left: 150px;
    top: 55%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  &__input {
    margin-top: 4px;
    width: 176px;
    height: 40px;
    border: 1px solid $light-gray;
    background-color: transparent;
    outline: 0;
    padding-inline: 12px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;

    &--short {
      width: 128px;
    }

    &:focus+.catalog-filters__input-icon {
      transform: translateY(-50%) rotate(-180deg);
    }
  }

  &__dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    border: 1px solid $light-gray;
    background: $light-gray;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 8px 0;
    z-index: 6;
  }

  &__dropdown-item {
    display: flex;
    width: 100%;
    align-items: center;
    color: #421414;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
  }

  &__dropdown-link {
    display: block;
    width: 100%;
    padding: 6px 12px 5px;
  }
}
