@import "../../cssTools/mixins.scss";

.button {
  display: block;
  margin-inline: auto;
  width: 100%;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  height: 52px;
  cursor: pointer;
  transition: color, background-color 0.2s ease-in-out;

  &--white {
    border: 1.5px solid #f2f2f2;
    color: #f2f2f2;

    &:hover {
      background-color: #f2f2f2;
      color: #262626;
    }
  }

  &--black {
    border: 1.5px solid #262626;
    color: #262626;

    &:hover {
      background-color: #262626;
      color: #f2f2f2;
    }
  }

  &--blue {
    background-color: #1c69d4;
    color: #f6f6f6;

    &:hover {
      background-color: #0d418a;
    }
  }

  &--border-radius-0 {
    border-radius: 0;
  }

  &--margin-top-16 {
    margin-top: 16px;
  }

  &--margin-top-32 {
    margin-top: 32px;
  }

  &--margin-top-28 {
    margin-top: 28px;
  }

  &--margin-top-24 {
    margin-top: 24px;
  }

  &--tablet-small {
    @include onTablet {
      width: 180px;
      margin-inline: auto;
    }

    @include onDesktop {
      margin-top: 40px;
    }
  }

  &--tablet-medium-sized {
    @include onTablet {
      width: 250px;
      margin-inline: auto;
    }

    @include onDesktop {
      width: 180px;
      margin-inline: 0;
    }
  }

  &--tablet-medium {
    @include onTablet {
      width: 400px;
      margin-inline: 0;
    }

    @include onDesktop {
      width: 250px;
    }
  }

  &--tablet-large {
    @include onTablet {
      width: 75%;
    }

    @include onDesktop {
      width: 300px;
      margin-inline: 0;
    }
  }

  &--margin-top-auto {
    margin-top: auto;
  }

  &__link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
