@import "../../cssTools/utils.scss";

.engine-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: rgb(0 0 0 / 40%);
  padding: 0;
  overflow: hidden;

  @include onDesktop {
    padding: 50px 0;
  }

  &__cross-img {
    max-width: 100%;
    width: 30px;
    height: 30px;
  }

  &__modal {
    position: relative;
    z-index: 2;
    width: 100%;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include onDesktop {
      width: 80%;
      margin: 0 auto;
      height: 85vh;
      flex-direction: row;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255 255 255 / 84%);
    cursor: pointer;
    box-shadow: 0 0 1px rgb(0 0 0 / 24%), 0 2px 8px rgb(0 0 0 / 8%);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $light-white;
    }
  }

  &__aside {
    padding: 20px 40px 20px 24px;
    width: 100%;

    @include onDesktop {
      padding: 32px 0;
      width: 35%;
    }
  }

  &__aside-title {
    margin-bottom: 20px;
    color: $extra-dark;
    font-size: 20px;
    font-weight: 700;

    @include onDesktop {
      padding: 0 32px;
    }
  }

  &__category {
    display: block;
    padding: 16px 32px;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;

    &--active {
      box-shadow: inset 4px 0 0 $medium-dark;
      background: #f2f2f2;
      color: $extra-dark;
    }
  }

  &__engines {
    padding: 20px 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    @include onDesktop {
      padding: 32px;
      background: #f2f2f2;
      width: 65%;
    }
  }

  &__engine {
    padding: 20px;
    background: #fff;
    box-shadow: inset 0 0 0 1.5px $light-gray, 0 0 0 transparent;
    position: relative;

    &--active {
      box-shadow: inset 0 0 0 2px $medium-dark, 0 0 0 transparent;

      &::before {
        content: "\2714";
        display: flex;
        justify-content: center;
        align-items: center;
        top: -10px;
        right: -10px;
        width: 24px;
        height: 24px;
        background-color: $medium-dark;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        color: white;
      }
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid $light-gray;
    background-color: transparent;
    outline: 0;
    padding-inline: 12px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;

    &:focus+.engine-overlay__input-icon {
      transform: translateY(-50%) rotate(-180deg);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px black, 0 0 0 transparent;
    }
  }

  &__dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45px;
    width: 100%;
    z-index: 10;
    border: 3px solid black
  }

  &__dropdown-item {
    display: flex;
    width: 100%;
    align-items: center;
    color: #421414;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }

  &__dropdown-button {
    display: block;
    padding: 10px 20px;
    width: 100%;
    background: #fff;
    cursor: pointer;

    &--active {
      background: #f2f2f2;
      color: $extra-dark;
    }
  }
}
