@import "../../cssTools/utils.scss";

.total-price {
  position: sticky;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0 24px;
  height: 126px;
  z-index: 1;
  background-color: #fff;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;

  @include onDesktop {
    padding: 14px 48px;
    height: 80px;
    justify-content: center;
  }

  &__model-name {
    font-size: 20px;
    font-weight: 400;
    color: $extra-dark;
    display: none;
    text-align: left;
    width: 50%;
    align-items: center;

    @include onDesktop {
      display: block;
    }
  }

  &__right-wrapper {
    width: 100%;
    padding-inline: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      padding-inline: 24px 12px;
      gap: 24px;
      width: 50%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include onDesktop {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__total-price-label {
    font-size: 12px;
    color: $extra-dark;
    text-transform: uppercase;
    font-weight: 400;
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__total-price {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    color: $extra-dark;

    @include onDesktop {
      margin-top: 5px;
    }
  }
}
