@import "../../cssTools/mixins.scss";

.car-preview {
  &__image {
    display: block;
    width: 100%;
    max-width: 100%;

    @include onDesktop {
      width: calc(100vw - 380px);
      max-width: 100%;
      height: calc(100vh - 80px);
      position: sticky;
      left: 0;
      top: 0;
    }
  }
}
