@import "../../cssTools/mixins.scss";

.header {
  padding-top: 20px;
  position: relative;
  overflow: hidden;

  @include onDesktop {
    height: 95vh;
  }

  &--small {
    height: auto;

    @include onDesktop {
      height: auto;
    }
  }

  &--min-height-100vh {
    min-height: 100vh;
  }

  &__background {
    background: url("https://bmw.scene7.com/is/image/BMW/hometeaser_2024_x3_x4_offer:1to1?fmt=jpg&wid=600&hei=600") center center/cover no-repeat;
    position: absolute;
    height: 100vw;
    width: 100%;
    z-index: -1;
    top: 0;

    @include onTablet {
      background-image: url("https://bmw.scene7.com/is/image/BMW/hometeaser_2024_x3_x4_offer:1to1?fmt=jpg&wid=1024&hei=1024");
    }

    @include onDesktop {
      background-image: url("https://bmw.scene7.com/is/image/BMW/hometeaser_2024_x3_x4_offer:16to7?fmt=jpg&wid=1504&hei=658");
      height: 95vh;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 15px;

    @include onDesktop {
      border-bottom: 1px solid #fff;
    }

    &--small {
      margin-inline: 0;

      @include onDesktop {
        border-bottom: 1px solid #bbb;
        margin-inline: 36px;
      }
    }
  }

  &__left-wrapper {
    @include onDesktop {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  &__topbar-right-wrapper {
    display: flex;
    gap: 30px;
  }

  &__topbar-button {
    background: #007bff;
    color: rgb(14, 13, 13);
    border-radius: 50%;
    border: 2px solid transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &--active {
      border: 2px solid #26292c;
    }
  }

  &__topbar-link {
    width: 36px;
    height: 36px;

    @include onTablet {
      display: block;
      width: 52px;
      height: 52px;
    }
  }

  &__logo {
    width: 36px;
    height: 36px;

    @include onTablet {
      width: 52px;
      height: 52px;
    }
  }

  &__burger-btn {
    background: transparent;
    cursor: pointer;
  }

  &__burger-line {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);

    &--black {
      background-color: rgb(102, 102, 102);
    }
  }

  &__burger-menu {
    width: 24px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__bottom-wrapper {
    background: linear-gradient(180deg, #0000, #000 8pc);
    padding-top: 48px;
    padding-bottom: 52px;
    padding-inline: 24px;
    text-align: center;
    margin-top: calc(100vw / 2.2);

    @media (min-width: 520px) {
      margin-top: calc(100vw / 1.6);
    }

    @include onTablet {
      padding-inline: 60px;
      margin-inline: 0;
      margin-top: calc(100vw / 1.5);
    }

    @include onDesktop {
      background: transparent;
      margin-top: 0;
      max-width: 60vw;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;

    @include onDesktop {
      text-align: left;
      font-size: 40px;
    }
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

    @include onDesktop {
      text-align: left;
      font-size: 20px;
    }
  }
}
