@import "../../cssTools/mixins.scss";

.footer {
  padding: 0 0 20px;

  &__content-wrapper {
    padding-top: 60px;
    background-color: #f6f6f6;
    padding-bottom: 40px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 10%;
    margin-right: 10%;

    @include onTablet {
      flex-direction: row;
      margin-inline: 0;
    }
  }

  &__button-wrapper {
    @include onTablet {
      width: 100%;
    }
  }

  &__button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
    cursor: pointer;

    @include onTablet {
      color: rgb(77, 77, 77);
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__button-icon {
    width: 16px;
    height: 16px;

    @include onTablet {
      display: none;
    }
  }

  &__dropdown-list {
    margin-top: 20px;
    padding-left: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include onTablet {
      gap: 20px;
      padding-left: 0;
    }
  }

  &__dropdown-link {
    color: rgb(77, 77, 77);
    font-size: 14px;
    font-weight: 700;
  }

  &__socials-wrapper {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    gap: 10px;

    @include onTablet {
      margin-left: 0;
    }
  }

  &__social-link {
    display: block;
    width: 28px;
    height: 28px;
  }

  &__social-icon {
    max-width: 100%;
  }

  &__rights {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include onTablet {
      gap: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copyright {
    color: rgb(38, 38, 38);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }

  &__bottom-list {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  &__bottom-list-link {
    color: rgb(38, 38, 38);
    display: block;
    font-weight: 700;
    font-size: 12px;
  }
}
