@import './cssTools/mixins.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

.container {
  margin-inline: 16px;
  padding-inline: 8px;
  max-width: 100%;
  height: 100%;
  position: relative;

  &--padding-inline-0 {
    padding-inline: 0;
  }

  @include onTablet {
    padding-inline: 60px;
    margin-inline: 0;
  }

  &--on-tablet-padding-inline-36 {
    @include onTablet {
      padding-inline: 36px;
      margin-inline: 0;
    }

    @include onDesktop {
      padding-inline: 60px;
    }
  }

  &--desktop-padding-0 {
    @include onDesktop {
      padding-inline: 0;
    }
  }

  &--max-width-1008 {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 60px;
  }
}
