@import "../../cssTools/utils.scss";

.choose-your-car {
  padding: 26px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }
  }

  &__title {
    color: rgb(38, 38, 38);
    font-size: 10px;
    font-weight: 300;
    margin-left: 10%;
    text-transform: uppercase;
  }

  &__link {
    padding: 12px 0;
    width: 30%;
    display: block;
    margin-left: 10%;
    color: rgb(77, 77, 77);
    font-size: 14px;
    font-weight: 700;
    transition: color 0.2s ease-in-out;

    @include onTablet {
      margin-left: 0;
    }

    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}
